body {
    font-family: sans-serif;
    padding: 1rem;
    color: #616263;
}

.link {
    color: red;
    text-decoration: none;
}

.header {
    border-bottom: 1px solid gray;
}

.header__title {
    color: red;
    font-weight: normal;
    text-transform: uppercase;
}

.header__title-strong {
    font-weight: bold;
}

.hero {
    font-size: 1.5rem;
    line-height: 2rem;
}

.hero__line {
    background-color: red;
    color: white;
    padding: 1rem;
    display: inline-block;
}

.blog {
    background-color: #f7f7f7;
    padding: 1rem;
}

.blog__title {
    font-weight: normal;
    font-size: 1.5rem;
}

.blog__item {
    border-bottom: 1px solid gray;
    padding-block: 1rem;
}

.blog__item--remove-line {
    border-bottom: 0;
}

.blog__time {
    color: black;
    font-style: italic;
}

.link--title-blog {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #a4a4a4;
}

.link--read-more-blog {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #a4a4a4;
}

.footer__text {
    padding-block: 1rem;
    text-align: center;
}

